/*=========== CONTACT ===========*/
.main-contact {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding: 10%;
}
.main-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/model-1.webp);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85))), url(../images/model-1.webp);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/model-1.webp);
    background-position: center;
    background-size: cover;
    /* filter: blur(2px); */
    z-index: -1;
}

/* contact description */
.contact-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
}
.contact-description-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    text-align: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.contact-description-text h5 {
    color: var(--color-gold);
    font-size: clamp(16px, 1.6vw, 18px);
    text-transform: capitalize;
    font-weight: 500;
}
.contact-description-text h1 {
    max-width: clamp(250px, 40vw, 400px);
    color: var(--color-white);
    font-size: clamp(2.6rem, 8vw, 4.5rem);
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: bold;
}
.contact-description-text p {
    max-width: clamp(250px, 40vw, 400px);
    color: var(--color-white);
    font-size: clamp(14px, 2vw, 20px);
    font-style: italic;
}

/* profile picture */
.profile-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.profile-picture-wrapper {
    width: 130px;
    padding-bottom: 130px;
    position: relative;
    overflow: hidden;
}
.profile-picture-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: 8px solid var(--color-white);
}

/* buttons contact */
.wrapper-multiple-btn {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.buttons {
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0;
    padding: 0;
    width: 300px;
    gap: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.buttons li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 1.875rem;
    vertical-align: middle;
    font-family: var(--font-jost);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    -webkit-box-shadow: 0rem 0.375rem 0rem 0rem rgba(0, 0, 0, 0.188);
            box-shadow: 0rem 0.375rem 0rem 0rem rgba(0, 0, 0, 0.188);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, -webkit-transform 0.25s ease;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, -webkit-transform 0.25s ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all .42s ease;
    -o-transition: all .42s ease;
    transition: all .42s ease;
}
.buttons li a:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    background-color: var(--color-black-dark);
    background-image: none;
    color: var(--color-gold);
    fill: var(--color-gold);
    background-image: -o-linear-gradient(68deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(22deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.buttons li a i {
    font-size: 1.5rem;
    font-weight: 400;
}
.multiple-btn {
    background-color: #D470B2;
    display: inline-block;
    color: var(--color-black-dark);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid var(--color-black-dark);
    padding: 12px 25px;
    -webkit-transition: all .42s ease;
    -o-transition: all .42s ease;
    transition: all .42s ease;
}
.multiple-btn i {
    vertical-align: middle;
}
.btn-whatsapp {
    background-image: -o-linear-gradient(68deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-image: linear-gradient(22deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-color: #25D366;
    color: var(--color-white);
}
.btn-instagram {
    background-image: -o-linear-gradient(68deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-image: linear-gradient(22deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-color: #E1306C;
    color: var(--color-white);
}
.btn-tiktok {
    background-image: -o-linear-gradient(68deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-image: linear-gradient(22deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-color: #69C9D0;
    color: var(--color-white);
}
.btn-shopee {
    background-image: -o-linear-gradient(68deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-image: linear-gradient(22deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-color: #FF5722;
    color: var(--color-white);
}
.btn-shopnow {
    background-image: -o-linear-gradient(68deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-image: linear-gradient(22deg, rgba(255, 61, 61, 0.412) 0%, rgba(240, 132, 86, 0.008) 100%);
    background-color: #cc9900;
    color: var(--color-white);
}
.buttons li a svg {
    display: block;
    fill: var(--color-white);
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    min-width: 16px;
    width: 1.625em;
    margin-left: 0.5em;
    margin-right: calc(-0.125em + 0rem);
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}
.btn-shopee:hover svg path {
    fill: var(--color-gold);
}

/* RESPONSIVE MOBILE - TABLET */
@media (max-width: 768px) {
    .main-contact {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 20% 10%;
    }
    .contact-description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .contact-description-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1rem;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .buttons {
        width: 100%;
    }
    
    .profile-picture-wrapper {
        width: 110px;
        padding-bottom: 110px;
        position: relative;
        overflow: hidden;
    }
    .contact-description-text h1 {
        max-width: 100%;
    }
}
/*=========== END OF CONTACT ===========*/