/*=========== FOOTER ============*/
.footer {
    background-color: var(--color-soft-blueish-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4em;
}
.footer-info-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1.5em;
}
.first-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
}
.second-info { 
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5em;
}

/* logo footer */
.logo-wrapper-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-footer {
    max-width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}
.logo-footer img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: inherit;
    cursor: pointer;
    -webkit-transition: all .42s;
    -o-transition: all .42s;
    transition: all .42s;
}
.logo-footer img:hover {
    opacity: 0.8;
}

/* closing text */
.footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

/* navigation menu */
.navmenu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1em;
    font-family: var(--font-jost);
    font-weight: 500;
    color: var(--color-black-dark);
    text-transform: capitalize;
    line-height: 1.5;
    cursor: pointer;
    -webkit-transition: all .42s;
    -o-transition: all .42s;
    transition: all .42s;
}

/* social media */
.footer-link {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    color: var(--color-black-dark);
    text-transform: capitalize;
    line-height: 1.5;
    text-align: center;
    -webkit-transition: all .42s ease;
    -o-transition: all .42s ease;
    transition: all .42s ease;
    font-family: var(--font-jost);
}
.footer-link:hover {
    color: var(--color-ruby);
    cursor: pointer;
}
.footer-link::after {
    content: "";
    position: absolute;
    background-color: var(--color-ruby);
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer-link:hover::after {
    width: 100%;
}
.footer-navigation-wrapper {
    border-bottom: 1px solid var(--color-black-dark);
    padding-bottom: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5em;
}
.footer-navigation-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2em;
}
.social-icon {
    font-size: 1rem;
}

/* copyright */
.foot-copy {
    background-color: transparent;
}

/* RESPONSIVE MOBILE - TABLET */
@media (max-width: 760px) {
    .footer-info-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 2rem;
    }
}
/*============= END OF FOOTER =============*/