/*============= HERO ==============*/
.brand-text-1 {
    font-size: 20px;
    font-family: var(--font-jost);
    font-weight: 400;
}
.brand-text-2 {
    font-size: 40px;
    font-family: var(--font-jost);
    font-weight: 500;
}
.banner-container {
    width: 100%;
    height: 65vw;
    max-height: 100vh;
    position: relative;
}
.banner-wrapper {
    position: relative;
}
.banner-slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: relative;
}
.banner-content {
    position: absolute;
    z-index: 10;
    max-width: 600px;
    padding: 0 10px;
}
.banner-content-left {
    left: 10%;
    top: 25%;
}
.banner-content-right {
    left: 50%;
    top: 25%;
}
.right-align .banner-content {
    right: 20%;
    top: 20%;
    left: auto;
    text-align: left;
}
.banner-content h5 {
    color: var(--color-gold);
    font-size: clamp(12px, 1.6vw, 16px);
    text-transform: capitalize;
    font-weight: 500;
}
.banner-content h1 {
    color: var(--color-black-dark);
    font-size: clamp(24px, 6.5vw, 65px);
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
    font-family: var(--font-jost);
}
.banner-content p {
    max-width: clamp(250px, 40vw, 400px);
    color: var(--color-black-dark);
    font-size: clamp(14px, 2vw, 20px);
    font-style: italic;
    margin-bottom: 20px;
}
.banner-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}
.left-banner-image {
    -o-object-position: 20% center;
       object-position: 20% center;
}
.pagination-in {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
}
.banner-pagination {
    position: absolute;
    text-align: right !important;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 10;
}

/* HERO FOR MOBILE */
.cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 40%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(40%, rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 40%);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 20px;
}
.cta-overlay h5, .cta-overlay h1 {
    color: var(--color-white);
    text-align: left;
    padding-left: 22px;
    padding-right: 22px;
}
.mobile-main-home {
    padding-top: 80px;
    padding-bottom: 80px;
}
.mobile-main-text h5 {
    text-align: center;
    color: var(--color-gold);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
}
.mobile-main-text h1 {
    text-align: center;
    color: var(--color-black-dark);
    font-size: 40px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.mobile-main-text p{
    text-align: center;
    color: var(--color-black-dark);
    font-size: 20px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 40px;
}
.mobile-cta-slider-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.mobile-cta-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile-cta-slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
}
.mobile-cta-slider-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.mobile-cta {
    display: none;
    width: 100%;
    padding-top: 55px;
}

/* mengubah default class swiper js */
.swiper-pagination-bullets {
    padding: 0 50px;
    bottom: var(--swiper-pagination-bottom, 50px) !important;
    top: var(--swiper-pagination-top, auto);
    width: 100%;
}
.swiper-pagination-bullet {
    position: relative !important;
    width: 8px !important;
    height: 8px !important;
    background-color: rgb(200, 200, 200) !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    -webkit-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.swiper-pagination-bullet-active {
    width: 24px !important; 
    background-color: white !important;
    border-radius: 10px !important; 
}

/* RESPONSIVE CSS */
@media (max-width: 768px) {
    .banner-container {
        display: none;
    }
    .mobile-cta {
        display: block;
    }
    .main-text{
        font-size: 50px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
    .main-btn {
        padding: 10px 20px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
}
/*============= END OF HERO ==============*/